.middle {
    color: white;
    width: 50%;
    margin: 50px 0 0 25%;
}

.title {
    margin-top: 50px;
    font-size: 170%;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-shadow: 4px 5px 5px black;
    color: white;
}

.form {
    padding: 10px;
    margin-bottom: 50px;
}

input, select, textarea {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(155, 155, 155);
    font-family: 'Quicksand', sans-serif;
    margin: 10px 5%;
    padding: 5px;
    box-shadow: 2px 3px 5px black;
}

.fileUpload {
    border: none;
    box-shadow: none;
}

#street {
    width: 90%;
    float: left;
}

#city {
    width: 30%;
    margin: 7px 5px 7px 5%;
    float: left;
}

#state {
    width: 13%;
    margin: 7px 5px;
    float: left;
}

#zip {
    width: 15%;
    margin: 7px 5px;
    float: left;
}

#addRestCategory {
    float: left;
    margin: 7px 5px;
    width: 26%;
}

.infoButton {
    margin: 10px 0 10px 75%;
}

button {
    background-color: rgb(0, 95, 0);
    border: none;
    color: white;
    padding: 7px;
    box-shadow: 3px 4px 5px black;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
}

.resEdit {
    width: 40px;
    height: 20px;
    margin: -8% 8% 0 0;
    padding: 0;
    font-size: 70%;
    float: right;
}

.resView {
    width: 40px;
    height: 20px;
    margin: -8% 18% 0 0;
    padding: 0;
    font-size: 70%;
    float: right;
}