* {
    box-sizing: border-box;

}

body {
	 background-image: url(https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

img {

    max-width: 100%;
    
}


.jumbotron{
	width: 100%;
  	height: 450px;
  	background-image: url(https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
  	background-size: 100% 100%;
    color: white;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 35px;
    
}

img {
    max-width: 100%;
    max-height: 100%;
}

#mainTitle{
    font-size: 85px;

}
#subtitle {
	font-size: 25px;
	margin-top: 50px;
	color: white;
}

.jumbotron input[type=text] {
	padding: 6px;
    border: none;
    margin-top: 50px;
    margin-right: 16px;
    font-size: 17px;
    height: 50px;
    width: 200px;
}

.dropbtn {
    background-color: #961b0c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-right: 22px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #682720;
}

.featuredRestaurants {
	text-align: center;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

#fTitle {
	font-size: 45px;
}

.card {
	background-color: #442312;
	width: 30%;
	float: left;
	margin: 20px;
}

.btn {
    background-color: #961b0c; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-bottom: 10px;
}