.featuredCard {
	color: white;
	font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 10px;
	width: 31.35%;
	float: left;
    margin: 10px;
    padding: 10px;
}

.smlCardImg {
    height: 175px;
}

.smlCardName {
    text-shadow: 1px 2px 1px black;
    border-bottom: 2px solid #961b0c;
    padding: 10px 0 5px;
    margin-bottom: 5px;
}

.smlCardInfo {
    margin: 10px 0;
}